fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pydantic==2.9.0
sqlalchemy==2.0.36
passlib[bcrypt]==1.7.4
pyjwt==2.9.0
reportlab==4.2.2
opencv-python-headless==4.10.0.84
numpy==2.0.2
Pillow==10.4.0
